<div data-id="<%= entry.id %>" class="list-group-item flex-column align-items-start rss-entry <%= 'is-read' if entry.is_read? %>">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
    	<a href="<%= entry.url %>" target="_blank"><%= entry.title %></a>
    </h5>
    <small class="text-muted text-nowrap mt-1 pl-1"><%= entry.date.strftime("%d/%m/%Y") unless entry.date.nil? %></small>
  </div>
  <p class="mb-1"><%= truncate strip_tags(entry.content), length: 300 %></p>
  <div class="text-right">
  	<small class="text-muted">
  	  <a href="#" class="mark-as-read">Marquer comme lu</a>
  	  <span class="read">&check; Lu</span>
  	</small>
  </div>
</div>